<body>
    <div class="header_navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/logo3.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" (click)="goToLogin($event)">Se Connecter</a>
                                    </li>

                                    <!--
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#couple">Couple</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#our_love">Story</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#gallery">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#event">Event</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">RSVP</a>
                                    </li>!-->
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header navbar -->
<!-- src/app/components/ajouter-client/ajouter-client.component.html -->
<form class="login-container" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <h1 class="box-title">S'inscrire</h1>

  <label>Email *</label>
  <input type="email"    class="form-input" formControlName="email" required/>
  <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" style="color: red;">
    Email invalide ou manquant.
  </div>

  <label>Nom *</label>
  <input type="text"  class="form-input"  formControlName="nom" required/>
  <div *ngIf="clientForm.get('nom')?.invalid && clientForm.get('nom')?.touched" style="color: red;">
    Nom obligatoire.
  </div>

  <label>Prénom *</label>
  <input type="text"    class="form-input" formControlName="prenom" required/>
  <div *ngIf="clientForm.get('prenom')?.invalid && clientForm.get('prenom')?.touched" style="color: red;">
    Prénom obligatoire.
  </div>

  <label>Mot de passe *</label>
  <input type="password"    class="form-input" formControlName="motPasse" required/>
  <div *ngIf="clientForm.get('motPasse')?.invalid && clientForm.get('motPasse')?.touched" style="color: red;">
    Mot de passe obligatoire.
  </div>

  <label>Numéro de téléphone</label>
  <input type="number"   class="form-input" formControlName="numTel" required/>

  <label>Adresse</label>
  <input type="text"   class="form-input" formControlName="adresse" required/>

 <label>Rôle</label>
<select   class="form-input" formControlName="role" required >
  <option value="client">Client</option>
  <option value="prestataire">Prestataire</option>
</select>
 <div *ngIf="clientForm.get('role')?.invalid && clientForm.get('role')?.touched" style="color: red;">
    Role obligatoire.
  </div>
  

  <button type="submit" class="box-button" >Valider</button>
</form>
</body>